
<%- include ('./partials/header.ejs') %> 
<%- include ('./partials/nav.ejs') %>
<header class="masthead bg-primary text-white text-center" id="page-top">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/assests/profile.jpg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Tuedon Tuoyo</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Backend Web Developer(Nodejs) - Certified Networker - Computer Operator</p>
    </div>
</header>

<section class="page-section bg-dark portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-light mb-2">PROJECTS</h2>
        <!-- Icon Divider-->
        <div class="row justify-content-center align-items-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto text-light" data-toggle="modal" data-target="#portfolioModal1">
                    <h3>Colour Game </h3>
                    <a href="/projects/colorgame">
                        <img class="img-fluid" src="/assests/colorgame.png" alt="Color Game" >
                    </a>
                    
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto text-light" data-toggle="modal" data-target="#portfolioModal2">
                    <h3>Todos List</h3>
                    <a href="/projects/todos"> 
                        <img class="img-fluid" src="/assests/todos.png" alt="To do list " />    
                    </a>
                   
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto text-light" data-toggle="modal" data-target="#portfolioModal3">
                    <h4>Blog Project</h4>
                    <a href="#!">
                        <img class="img-fluid disabled" src="/assests/blog.png" alt="Blog Site" />
                    </a>  
                </div>
            </div>
        </div>
    </div>
        
</section>
<!-- About Section-->
<section class="page-section bg-danger text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">
                Dynamic young, self-motivated, well organized and passionate about computer Technology and open to opportunities 
                in reputable organizations.  
                I am a motivated self-starter, 
                who is able to quickly grasp issues and attend to details while maintaining a view of the big picture.
                I am creative, resourceful and flexible, and able to adapt to changing priorities and maintain a 
                positive attitude and strong work ethics.
                I love to meet interesting personalities, learn more, widen my horizon and stay inspired. 
            </p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">
                
I am a goal-oriented individual with love for computers and technology as a whole.

I am passionate about working, always looking to improve myself and the people around me, I am also a quick learner, and can work with a group which will enable me to learn more and improve myself.

I always strive to pursue knowledge by reading, meeting people related to my career field and taking courses that are beneficial to my career path.

I am interested and open to opportunities (both local and international) that centers around computing and technology as a whole.	.


            </p></div>
        </div>
    </div>
</section>

<section class="page-section bg-dark text-white mb-0" id="Education">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Educations</h2>
        <!-- Icon Divider-->
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-8 ml-auto">
                <p class="lead">
                    
                   <ul>2018- Till date:  
                            <li class="ml-4">University of Abuja </li>
                            <li class="ml-4">Bsc. Computer Science</li>
                    </ul> 
                    <ul>2014-2017:  
                        <li class="ml-4"><strong>Command Secondary School Mbiri, Delta State</strong></li>
                        <li class="ml-4"> <strong> West African Senior School Certificate Examination (WASSCE)</strong></li>
                    </ul> 
                <ul>2011-2014:  
                    <li class="ml-4">Ss Peter and Mary Juniorate Asaba, Delta State </li>
                    <li class="ml-4">Basic Education Certificate Examination (BECE)</li>
                </ul> 
                <ul>2005-2011:  
                    <li class="ml-4">Victory Baptist Academy Asaba, Delta</li>
                    <li class="ml-4">First school Leaving Certificate / Primary School Leaving Certificate</li>
                </ul> 
                </p>
            </div>
            </p>
        </div>
        </div>
    </div>
</section>
<section class="page-section bg-danger text-white mb-0" id="Certifications">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Certifications</h2>
        <!-- Icon Divider-->
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12  d-flex justify-content-center">
                <div class="">
                    <img src="/assests/cisco.jpg" alt="">
                    <h4>Certifications</h4> 
                    <p class="lead"><strong>Cisco certified Network Associate</strong></p>

                    <p class="lead"><h5>Issue Date:  <span>February 2020</span></h5></p>
                    <p class="lead">Expires <span>August 2023</span></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-dark text-white mb-0" id="skills">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Skills</h2>
        <!-- Icon Divider-->
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">
                <h4>Technical Skills:</h4>
                <ul> 
                    <li>Brilliant Analytical and problem-solving skills.</li>
                    <li>Proficient in Html, Css, and Js.</li>
                    <li>good command of computer hardware and software (word processor, spread sheet, presentation software)</li>
                    <li>Good Knowledge of Cisco Routers and Switches</li>
                    <li>Knowledge of Microsoft Office Applications</li>
                </ul>	
                </p>
            </div>
            <div class="col-lg-4 mr-auto"><p class="lead">
                <h4>Communication and Little Skills:</h4>
                <ul> 
                    <li>Ability to work individually or as a group</li>
                    <li> Highly organized and efficient </li>
                    <li>Strong organizational skills.</li>
                    <li>Knowledge of server-side JS (nodejs) programming. </li>
                    <li> Knowledge of Express js Framework</li>
                    <li>Uses the MEN Stack (Mongoose, Express, Nodejs) </li>
                </ul>
            </p>
        </div>
        </div>
    </div>
</section>
<section class="page-section bg-danger text-white mb-0" id="Experience">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Experience</h2>
        <!-- Icon Divider-->
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-9 ml-auto"><p class="lead">
                <h4>Experience</h4> 
                <p class="lead"> August 2020- January 2021</p>
                <p class="lead"><h5>Company: <span>Core Ict Computers</span></h5></p>
                <p class="lead">Role: <span>Computer Operator</span></p>
                <p> Responsibilities: 
                    <ul>
                        <li>Computer Maintenance</li>
                        <li>Software Installation for customers</li>
                        <li>Use of Office Product</li>
                        <li>Computer Instructor</li>
                    </ul>
                </p>
                <ul>
                </p>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-center" id="contact">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    E1 Okwe Estate Okwe 
                    <br />
                    Asaba, Delta State,
                    Nigeria.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"> Contacts</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://web.facebook.com/tuedon.tuoyo/"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://mobile.twitter.com/TuedonTuoyo"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/tuedon-tuoyo-9404351a4/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/0tuedon/"><i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="tel:+2348052478462"><i class="fa fa-phone" ></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto:tuedontuoyo@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Tudrive 2021</small></div>
</div>
</div>
<%- include ('./partials/footer.ejs') %> 
