
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/js/bootstrap.min.js">
    <link rel="stylesheet" href="/css/style.css">
    <title>COLOUR GAME</title>
</head>
<body>
    <h1 class="text-light"> THE GREAT 
        <br>
        <span id="displayColor" > RGB</span> 
        <br>
        COLOR GAME</h1>
        <div class="container">
            <div class="row">
                <div class=" col-12 col-lg-5 bg-light p-1 d-flex justify-content-center" id="stripe">
                    <button id="playAgain" type="button" class="btn mode  text-light bg-dark"><strong>NEW COLOURS</strong></button>
                    <span id="message"class="text-dark align-self-center  ml-3"><strong > </strong></span>
                    <button  class="btn mode my-0"><strong>EASY</strong></button>
                    <button  class="btn mode btn-danger my-0"> <strong> HARD</strong></button>
                </div>
                <div class="col-12">
                    <a class="btn btn-primary" href="/">Back to tudrive<></a>
                </div>
               
            </div>
            
        </div>
    <div class="contain">
    <div id="" class="square "></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    </div>


<script src="/js/script.js"></script>
