<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/todos.css">

    <title>Document</title>
</head>
<div class="container">
    <a class="btn btn-block btn-dark" href="/">Back to Portfolio</a>
</div>
<body>
    <div id="contain" class="">

        
  <h1>TO-DO LIST <i class="fa fa-plus" aria-hidden="true"></i></h1> 
    
        
        <input type="text" name="Todo" id="text" placeholder="Enter New Todos Here">
        <ul>
            
            
        </ul>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/todo.js"></script>
</body>
</html>